
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partial/head %>

</head>
<body>
	<div class="wrapper">
		<div class="main-header">
				<% include ../partial/header %>
					<% include ../partial/navbar %>
			<!-- Logo Header -->

		</div>

		<!-- Sidebar -->
			<% include ../partial/sidebar %>



		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
				<div class="row">
					<div class="col-md-8 col-lg-8">
						<form  name="frm" class="" action="/users/userupdate" id="myform"method="post" >



						<div class="form-group">
							<label for="name">User Name</label>
							<input type="text" value="<%= user.name %>" name="Name" class="form-control" id="name" placeholder="Enter Name">
							<small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
            <div class="form-group">
              <label for="email">User Email</label>
              <input type="text" value="<%= user.email %>" name="email" class="form-control" id="email" placeholder="Enter Email">
              <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

						<div class="form-group">
							<label for="pwd">Password</label>
							<input type="password" value="<%= user.password %>"name="pwd"class="form-control" id="pwd" placeholder="Enter Password">

						</div>
            <input type="hidden" name="id" value="<%= user._id%>">




			<div class="card-action">
				<button type="submit" class="btn btn-success">Update</button>

			</div>
		</div>
	</form>
	</div>
</div>
</div>
</div>
</div>
</div>

			<% include ../partial/footer %>


		</div>

		<!-- Custom template | don't include it in your project! -->

		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
		<% include ../partial/script %>


<script src="/javascripts/jquery-3.4.1.js" charset="utf-8"></script>
<script src="/javascripts/jquery.validate.min.js" charset="utf-8"></script>
<script type="text/javascript">
$('#email').blur(function(){
	var data={email:$('#email').val()};
	if(data.email != ''){
	$.ajax({url:'/duemail',data:data,type:'POST',
success:function (result) {
	if(result.status){
		alert('Duplicate');
		$('#email').val('');
		$('#email').focus();



	}
	}


})
}
})
$('#myform').validate({
	rules:{
		Name:{
			required:true,
			minlength:3,
			maxlength:20


		},
		email:{
			required:true,
			 emailExt: true
		},
		pwd:{
			required:true,
			minlength:6,
			maxlength:20,
			pwcheck:true

		}
	},
	messages:{
		Name:{
			required:'User Name field is required'


		},
		email:{
			required:'User Email is required'

		},
		pwd:{
			required:'Password is required',
			pwcheck:'Please enter 1 uppercase,1 lowercase,1 digit'
		},
		maxlength:$.validator.format("Please Insert max {0} character"),
		minlength:$.validator.format("Please Insert atleast {0} character"),
	}
})
jQuery.validator.addMethod("emailExt", function(value, element, param) {
	return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
},'Your E-mail is wrong');

$.validator.addMethod("pwcheck", function(value) {
 return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
		 && /[a-z]/.test(value) // has a lowercase letter
		 && /\d/.test(value) // has a digit
});

</script>
</body>
</html>
